@charset "UTF-8";

/* CSS Document */

#innerwrapper { box-shadow: 3px 0px 10px #5d6067, -3px 0px 10px #5d6067; }

.intro { border-radius: 10px; }

.news:last-of-type { margin-bottom: 0px; }

.field { box-shadow: 10px 20px 10px #FFFFFF; }

.diapo:last-of-type { margin-bottom: 0px; }

form fieldset:last-of-type { margin-bottom: 0; }

form legend { text-shadow: 0 1px 1px #c0d576; }

form input,
form textarea { border-radius: 3px; }

form button {
	border-radius: 20px;
	text-shadow: 0 1px 1px #000000;
}

.title {
	margin-top: 35px;	
}

.title:first-of-type {
	margin-top: 0px;
}