@charset "UTF-8";

/* CSS Document */

/* Structure of the page */
body {
	background-color: #837e78;
	color: #5d6067;
	margin: 0px;
	font-size:13px;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-position: center center;
	background-repeat: no-repeat;
}

aside { float:right; }

footer {
	background-color: #000000;
	color: #808080;
	font-size:10px;
	height: 200px;
	border-top: 5px solid #6cb71e;
	padding: 0 0px;
}

header {
	height: 100px;
	border-bottom: 1px solid #808080;
	background:url(../img/grass.png);
}

/* Basic elements */
h1 {
	color: #000000;
	height: inherit;
	font-size:13px;
	display:inline;
	padding-right: 5px;
	background-color: #FFFFFF;
}

table,
tr,
td,
th { border: 1px solid #000000; }

a {
	color: #000000;
	text-decoration:none;
}

a:hover { color:  #6cb71e; }

.title {
	background:url(../img/grey_dots.gif);
	background-repeat:repeat-x;
	height: 16px;
	padding-top: 2px;
	margin-bottom: 10px;
	text-transform:uppercase;
}

.center { text-align: center; }

/* Special properties */
.half {
	width: 425px;
	padding: 20px;
}

.block {
	padding: 10px;
	width: 181px;
}

.vertibar { border-right: 2px solid #DCDCDC; }

.dark {
	background-color: #86898f;
	color: #FFFFFF;
}

.light {
	background-color: #DCDCDC;
	color: #000000;
}

/* Blocks */
#top_bar {
	background-color: #383d44;
	color: #FFFFFF;
	height: 15px;
}

#content {
	padding: 20px;
	margin-right: 200px;
	min-height: 350px;
}

#wrapper { width: 978px; }

#innerwrapper {
	width: 960px;
	margin: 0 9px;
	background-color: #FFFFFF;
}

#outwrapper {
	width: 978px;
	margin: 0 auto;
}

footer p {
	text-align: center;
	border-bottom: 1px solid #808080;
	padding: 5px 50px 15px;
}

/* Listes */
.puce {
	color : #000000;
	padding-left:7px;
}

.puce small {
	color: #808080;
	display: block;
	margin-bottom: 8px;
}

.puce li {
	list-style-type: none;
	background-repeat: no-repeat;
	background-position: 3% 0%;
	padding-left: 25px;
	margin-bottom: 5px;
}

#tracklist li {
	background-image: url(../img/play.png);
	background-position: 0% 0%;
}

#maj li { background-image: url(../img/edit.gif); }

#suitcase li {
	background-image: url(../img/suitcase.gif);
	background-position: 3% 20%;
}

#plane li {
	background-image: url(../img/plane.png);
	background-position: 3% 0%;
}

#languages li { background-position: 3% 0%; }

/* Menu horizontal */
nav {
	height: 20px;
	border-bottom: 5px solid #86898f;
}

nav ul a {
	color: #000000;
	font-size:14px;
	font-family: helvetica, arial;
	text-transform:uppercase;
	text-decoration:none;
	display: block;
	height: 15px;
	padding-top:5px;
	font-size: 11px;
	font-weight: bold;
}

.ulmenu {
	text-align: center;
	padding:  0px;
	margin: 0;
}

.limenu {
	width:  20%;
	height: inherit;
	display: block;
	float: left;
}

nav li a:hover {
	background-color: #6cb71e;
	color: #FFFFFF;
}

#selected { background-color: #EBEBEB; }

/* index.html */
.intro {
	border: 1px dotted #808080;
	margin-bottom: 20px;
	padding: 15px;
	font-style:italic;
}

.news {
	background-color:#F4F4F4;
	margin-bottom:20px;
	padding: 5px;
	color: #000000;
	border: 1px solid gainsboro;
}

#signature { text-align: right; }

/* cv.html */
.formation {
	margin: 10px 0px 10px 110px;
	background-color:#F4F4F4;
	height: 50px;
	padding: 5px;
}

.footer {
	text-align: right;
	font-size:11px;
	color:#6cb71e;
	font-style: italic;
}

.skill {
	background-color:#F4F4F4;
	height: 200px;
	width: 175px;
	display:inline-block;
	vertical-align:top;
	color: #000000;
}

.skill p {
	margin: 4px;
	text-align: justify;
}

.field {
	color:#6cb71e;
	border-bottom: 1px dashed #000000;
	background-color: #FFFFFF;
	margin-bottom: 20px;
}

.date {
	color:#6cb71e;
	float:left;
	text-align: right;
	margin: 0px 0px 0px 72px;
	border-bottom: 1px dashed #000000;
}

.diploma { float:left; }

.name {
	color: #000000;
	float: left;
}

.logo { float: right; }

/* media.html */
.diapo {
	text-align: center;
	margin-bottom: 20px;
}

/* projects.html */
.projects {
	margin: 45px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #6cb71e;
}

.projects th {
	padding: 20px;
	font-weight: normal;
	font-size: 13px;
	color: #000000;
	background-color: #DCDCDC;
	text-transform: uppercase;
	border-right: 1px solid #6cb71e;
	border-top: 1px solid #6cb71e;
	border-left: 1px solid #6cb71e;
	border-bottom: 1px solid #fff;
}

.projects td {
	padding: 10px 20px;
	border-right: 1px dashed #6cf;
}

/* Tableau */
.linear {
  width: 100%; /* La largeur c'est pour le test, mais ça montre qu'il est aussi possible de la spécifier en CSS */
  border: 1px dashed gray; /* Et on met une jolie bordure originale autour du tableau */
}
.linear th, .linear tr{ /* Préférable à thead car offre plus de possibilités */
  background-color: #eafdd9; /* Chaque case d'en-tête aura un fond bleu */
  color: black;            /* Et un gris un peu plus foncé que la moyenne */
  border: 0px;
}

.linear td {
	border: 0px;
}

/* Form */
form {
	background: #DCDCDC;
	padding: 20px;
}

form fieldset {
	border: none;
	margin-bottom: 10px;
}

form legend {
	color: #384313;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
}

form label {
	float: left;
	font-size: 13px;
}

form fieldset fieldset label {
	background:none no-repeat left 50%;
	line-height: 20px;
	padding: 0 0 0 30px;
	width: auto;
}

form input,
form textarea {
	background: #ffffff;
	border: none;
	outline: none;
	padding: 5px;
	width: auto;
}

form button {
	background: #384313;
	border: none;
	color: #ffffff;
	display: block;
	letter-spacing: 1px;
	margin: auto;
	padding: 7px 25px;
	text-transform: uppercase;
}

form button:hover {
	background: #1e2506;
	cursor: pointer;
}

.comment {
	border: 1px solid white;
	background-color: gainsboro;
	margin: 3px 0px 0px 150px;
	padding: 6px;	
}

/*POP-UPS*/
.good {
	text-align:center;
	background-color:#eafdd9;
	color:grey;	
	height: 17px;
}

.error{
	text-align:center;
	background-color:#fcddd7;
	color:grey;
	height: 17px;
}