@charset "UTF-8";
body {
	font: 0.75em/1.5 "Lucida Grande", Tahoma, Arial, sans-serif;
	background-color: #262626;
	margin: 0;
	padding: 0;
	color: #143959;
	border: 1px solid black;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}
a img {
	border: none;
}

a:link {
	color:#000000;
	text-decoration: underline;
	font-weight : bold;
}

a:visited {
	color: #000000;
	text-decoration: underline;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

#container {
	border: 1px solid grey;
	border-top: 0px;
	width: 80%;
	background-color: white;
	max-width: 1260px;
	min-width: 780px;
	margin: 0 auto;
	
	border: 1px solid black;
}

#header {
	
	border: 1px solid black;
}

#top {
	
	height: 80px;
	
	border: 1px solid black;
}

#title{
	height:80px;
	
	border: 1px solid black;
}

#title a{
	color:3887cb;
}

.billet {
	padding: 8px 10px 8px 10px;
	
	border: 1px solid black;
}

.bordure {
	border: 0px;
}


.billet .title {
	margin-top: 8px;
	border-bottom: 3px solid #65ab10;
	color: #000;
	padding: 0px 10px 0px 10px;
	
	border: 1px solid black;
}

.billet .body {
	background:#f5f5f5;
	color: black;
	border-bottom: 3px solid #888888;
	padding: 10px;
	
	border: 1px solid black;
}

.billet .footer {
	text-align: right;
	padding: 0px 10px 0px 10px;
	
	border: 1px solid black;
}

#login{
	text-align:center;
	background-color:grey;
	color:white;	
	height: 25px;
	border-bottom: 1px solid white;
	
	border: 1px solid black;
}

#login input{
	background-color:white;
	color:#grey;
	border:2px solid #323f47;	
}
#login input[type=submit]{
	background-color:#FFFFFF;
	color: black;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	border-radius:5px;
}

#login input[type=submit]:hover{
	background-color:black;
	color:white;
	cursor:pointer;
	border:2px solid #2b363d;	
}

#sidebar1 {
	float: left;
	width: 20%;
	padding-bottom: 10px;
	
	background-color: gainsboro;
}

#sidebar1 .liste {
	padding-top: 1px;
	text-align: center;
	height: 25px;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	padding-top:7px;
	text-transform: uppercase;
}

#sidebar1 .liste:hover{
	background-color: gainsboro;
}

#sidebar1 a{
	text-decoration: none;
	color: #143959;
}
	

#sidebar2 {
	float: left;
	width: 20%;
	padding-bottom: 10px;
	
	background-color: gainsboro;

}

#sidebar2 ul {
	font-size: 10px;
	list-style: none;
	margin: 15px;
	padding: 0px;
}

#sidebar2 ul li {
	background: url(../img/bullet_gen.gif) no-repeat 2px 3px;
	color: #999;
	line-height: 12px;
	margin: 0px 0px 0px -13px;
	padding: 0px 0px 5px 15px;
}

#content {
	width: 60%;
	float: left;
	
	border: 1px solid black;
}

h3 {
	margin: 15px 15px 0px 15px;
	font: 0.9em/1.5 "Lucida Grande", Tahoma, Arial, sans-serif;
	color: black;
	border-bottom: 1px dashed grey;
}

#footer {
	position: relative;
	
	clear:both;
	text-align:center; 
	background: #65ab10;

	padding:8px;
	border: 1px solid black;

	
}

/* ~~miscellaneous float/clear classes~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

/*POP-UPS*/
.good {
	text-align:center;
	background-color:blue;
	color:white;	
	height: 17px;
}

.error{
	text-align:center;
	background-color:red;
	color:white;	
	height: 17px;
}

/* Tableau */
table {
  width: 100%; /* La largeur c'est pour le test, mais ça montre qu'il est aussi possible de la spécifier en CSS */
  border: 1px dashed gray; /* Et on met une jolie bordure originale autour du tableau */
}
th { /* Préférable à thead car offre plus de possibilités */
  background-color: #D3E2ED; /* Chaque case d'en-tête aura un fond bleu */
  color: black;            /* Et un gris un peu plus foncé que la moyenne */
  border-bottom: 0px;
}